.task-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: solid 1px white;
    margin: 10px 35%;
    padding: 10px 15px;
    align-items: center;


    .display-none {
        display: none;

        &:checked+.task-doing {
            background: #00c500;
        }
    }

    .task-doing {
        border: solid 1px #00c500;
        width: 30px;
        height: 30px;
        border-radius: 100%;

        &:hover {
            border: solid 1px #00df00;
        }

        &.active {
            width: 32px;
            height: 32px;
            border: none;
            background-color: #00c500;
        }
    }

    .task-content {
        width: 400px;

        &.active {
            text-decoration: line-through 2px;
        }
    }

    .task-edit {
        font-size: 30px;

        &:hover {
            color: rgb(196, 196, 196);
        }
    }

    .task-delete {
        font-size: 30px;

        &:hover {
            color: rgb(196, 196, 196);
        }
    }
}